@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: "Montserrat", sans-serif;
  background-color: #bf3d4a;
}

.header button {
  margin: 0 !important;
}

.header .navbar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-user .navbar-userImage {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  border-width: 1px;
  overflow: hidden;
}

.header .navbar-user .navbar-userImage img {
  width: 100%;
}

.header .navbar-user p.nombreUsuario {
  display: none;
}

.header .navbar-brand {
  margin: 0;
}

.header .navbar-brand img {
  width: 80px;
}

.header .navbar-brand img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.navbar-navv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 1em 0;
  list-style: none;
  color: #fafafa;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-navv .nav-item {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-navv .nav-item.active {
  color: white;
}

.navbar-navv .nav-item :hover {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 500px) {
  .header .navbar-user p.nombreUsuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: #fafafa;
    margin: 0;
    padding: 0 1em;
  }
  .header .navbar-brand {
    margin-right: 50px;
  }
  .header .navbar-brand img {
    width: 150px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #565652;
  font-family: "Montserrat", sans-serif;
}

.container {
  color: #565652;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #bf3d4a;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.container__title h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.cuadroPrincipal p,
ul {
  font-size: 10px;
}

.cuadrosInfo {
  margin: 2rem 0;
}

.carousel img {
  border-radius: 0.2rem;
}

.container__titulosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #bf3d4a;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container__iconos {
  padding-bottom: 1rem;
}

.container__iconos a,
.footer__iconos a {
  margin: 0.7rem;
}

.container__iconos a img,
.footer__iconos a img {
  width: 3rem;
}

@media all and (min-width: 768px) {
  .cuadroPrincipal p,
  ul {
    font-size: 14px;
  }
  .container__title h1 {
    font-size: 2rem;
  }
  .container__titulosPrincipales {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #bf3d4a;
    font-size: 1.5rem;
  }
  .container__iconos a {
    margin: 1rem;
  }
  .container__iconos a img {
    width: 4rem;
  }
}

@media all and (min-width: 992px) {
  .container__title h1 {
    font-size: 2.5rem;
  }
  .container__iconos {
    display: none;
  }
  .cuadroPrincipal p,
  ul {
    font-size: 18px;
  }
}

/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #bf3d4a;
  color: #fafafa;
  width: 100%;
  padding: 1em 3em;
}

.footer .footer__title {
  color: #fafafa;
}

.footer .footer__title:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: white;
}

.footer .footer__iconos {
  display: none;
}

.footer .footer__iconos a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.footer ul {
  display: none;
}

@media all and (min-width: 992px) {
  .footer .footer__iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer img {
    width: 50px;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 1em;
  border: 1px solid #888;
  width: 70%;
  /* Could be more or less, depending on screen size */
}

.modalMascota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalMascota .mascotaImg {
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
}

.modalMascota .mascotaInfo {
  height: 30%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
}

.modalMascota .mascotaInfo .infoTitle {
  font-size: 1.5em;
  color: #bf3d4a;
  margin: 0;
}

.modalMascota .mascotaInfo .info {
  padding: 0.2em;
  font-size: 0.8em;
}

.modalMascota .mascotaInfo .info > p {
  display: inline;
}

.modalMascota .btn {
  width: 50%;
  margin: 1em 25%;
  margin-bottom: 0;
}

@media all and (min-width: 750px) {
  .modal-content {
    margin: 5% auto;
    padding: 1em;
    width: 70%;
    /* Could be more or less, depending on screen size */
  }
  .modalMascota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .modalMascota .mascotaImg {
    height: auto;
    width: 50%;
    background-position: center;
    background-size: cover;
    border-radius: 0.2rem;
  }
  .modalMascota .mascotaInfo {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1em 1em 1em;
  }
  .modalMascota .mascotaInfo .infoTitle {
    font-size: 2em;
    color: #bf3d4a;
    margin: 0;
  }
  .modalMascota .mascotaInfo .info {
    padding: 0.5em;
  }
  .modalMascota .mascotaInfo .info > p {
    display: inline;
  }
  .modalMascota .btn {
    width: 50%;
    margin: 1em 25%;
    margin-bottom: 0;
  }
}

/*Button*/
.btn {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  background-color: #bf3d4a;
  outline: none;
  border-style: none;
}

.btn:hover {
  background-color: orange;
  border-color: #ff8080;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
          box-shadow: 0 0 0 0.2rem #ff808050;
}

.btn:focus {
  border-color: #ff8080;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
          box-shadow: 0 0 0 0.2rem #ff808050;
}

/*Resultados*/
.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
  margin: 20px 10px;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 2px 15px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 15px 30px 0px rgba(0, 0, 0, 0.4);
}

.cardHead {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.459);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em 1em;
}

.cardHead__title h5 {
  margin: 0;
}

/*Badges*/
.cardHead__badge {
  font-size: 100%;
}

.badge-Adoptado {
  color: #fafafa;
  background-color: #007bff;
}

.badge-Adopcion {
  color: #fafafa;
  background-color: #28a745;
}

.badge-Perdido {
  color: #242424;
  background-color: #ffc107;
}

.cuadroPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30vw;
  min-height: 30vh;
  margin: 20px 10px;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  color: #574949;
  background-color: #fff;
  border-color: #ff8080;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
          box-shadow: 0 0 0 0.2rem #ff808050;
}

.wd-50 {
  width: 49%;
}

.containerCuadros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (min-width: 992px) {
  .containerCuadros {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=contacto.css.map */